{# src/_includes/layouts/base.njk #}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }} | bel_works</title>
    
    {# 診断のため、Viteのショートコードを標準のlinkタグに戻す #}
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <meta name="description" content="{{ description or metadata.description }}">
</head>
<body>
    {# ヘッダーをインクルード #}
    {% include "components/organisms/header.njk" %}

    <main>
        {# 各ページの内容がここに挿入される #}
        {{ content | safe }}
    </main>

    {# フッターをインクルード #}
    {% include "components/organisms/footer.njk" %}

    {# 診断のため、Viteのショートコードを標準のscriptタグに戻す #}
    <script src="/assets/js/main.js" defer></script>
</body>
</html>
