<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | ベルワークス</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% viteScript "src/assets/js/main-vite.js" %}
</head>
<body>

    {# ヘッダーをアニメーションコンテナの外に出す #}
    {% include "partials/header.njk" %}

    {# スクロールアニメーションを適用するコンテナ #}
    <div id="container" class="container">
        <main>
            {{ content | safe }}
        </main>
    </div><!-- /#container -->

    {# フッターもアニメーションコンテナの外に出す #}
    {% include "partials/footer.njk" %}

    {% viteBabelScript "src/assets/js/main.js" %}
</body>
</html>
