<header class="header">
    <div class="logo">Bel Works</div>
    <nav>
        <a href="/">Home</a>
        <a href="/service/">Service</a>
        <a href="/contact/">Contact</a>
    </nav>
</header>